{% extends "inted/base.html" %}
{% block barraup %}
{{block.super}}
{%endblock%}


{%block content%}
{% load static %}

<link rel="stylesheet" type="text/css" href = "{% static 'principal/hola.css' %}" />
<div id="apoyo"></div>
<div id="presentacion">
    <p id="apu"> IntEd es la nueva forma de enseñanza particular. Facilitamos tutores que se dirigen
    a cada alumno personalmente, para que reciban un apoyo educativo adaptado a sus necesidades.</p>
    </div>
<div id="objetivos">
    <p> <span style="font-size: 28">IntEd</span> cumple una labor humanitaria, cuyos objetivos son favorecer la igualdad de oportunidades en los jóvenes de la sociedad española y ayudar a aquellos alumnos que,
        ya sea por curiosidad o por necesidad, buscan una persona con experiencia que les guíe constantemente en su vida académica y no pueden permitírselo, dados los precios
        tan altos del mercado de tutores. En IntEd hemos escogido las características fundamentales que un servicio debe tener para satisfacer los objetivos citados y hemos desechado
        todas las demás, de manera que el coste de un profesor particular corriente es mucho mayor que el de un tutor de IntEd: nuestros servicios son <span style="font-weight: bold">gratuitos</span>.</p>
</div>
<div id="dirigido">
    <h1>¿A quién va dirigido IntEd?</h1>
    <p>Este servicio va dirigido a todo alumno que quiera reforzar sus conocimientos en las asignaturas de <span style="font-weight:bold">matemáticas, física y/o química
        de la Educación Secundaria Obligatoria</span>. Todo padre o alumno que quiera participar está invitado a registrarse, independientemente de su renta.</p>
</div>

<div id="inv">
    <p>¿Quieres saber cómo funciona IntEd? Descúbrelo <a href="/inicio/como_funciona">aquí </a> o <a href="/inicio/contacta">contacta con nosotros</a>. <br>
        ¿Quieres probar nuestros servicios? <a href="">Regístrate</a>. <br> <br></p>

</div>

{%endblock%}
