{% extends "inted/base.html" %}

{% block barraup %}
{{block.super}}
{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href = "{% static 'identificacion/register.css' %}" />

<div id="hi">
    Regístrate.
</div>

<form method="post">
    {% csrf_token %}
    <div id="registrar">
    <ul id="lista">
        <li style="list-style-type: none;"><label for="name"></label>
            <input id="name" type="text" name="name" placeholder="Nombre de usuario"> </li>
        <li style="list-style-type: none;"><label for="email"></label>
            <input id="email" type="text" name="email" placeholder="Email"> </li>
        <li style="list-style-type: none;"><label for="password"></label>
            <input id="password" type="password" name="password" placeholder="Contraseña"> </li>
        <li style="list-style-type: none;"><label for="password2"></label>
            <input id="password2" type="password" name="password2" placeholder="Contraseña"> </li>
    </ul>

    <button id="boton" type="submit">Registrarme</button>
    </div>
    <div id="explicacion">
        <h1>Pasos del registro:</h1>
        <ul id="pasos">
            <li style="list-style-type: none;"> <span style="font-weight:bold">1.</span> Rellenar el formulario a la derecha.</li>
            <li style="list-style-type: none;"> <span style="font-weight:bold">2.</span> Esperar a que contactemos contigo por correo para asignarte un profesor particular. Esta espera será cuestión de, como mucho,
            horas: en muy poco tiempo tendrás un profesor a tu disposición.</li>

        </ul>
    </div>
</form>

{% endblock %}