{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href = "{% static 'inted/base.css' %}">
    <link rel="icon" type="image/png" href="{% static 'inted/images/icono.png' %}"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
</head>

<body>
        {% block barraup %}
        <div id="barraup">
        <h id="inted">IntEd</h>
        <p id="cosas1" class="cosas"><a href="/inicio/" style="color: rgb(255, 255, 255)">¿Qué es IntEd?</a> &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/inicio/como_funciona" style="color: rgb(255, 255, 255)">¿Cómo funciona?</a>
        </p>
        <p id="cosas2" class="cosas">
                        <a href="/identificacion/login" style="color: rgb(255, 255, 255)">Identifícate</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/inicio/contacta" style="color: rgb(255, 255, 255)">Contacta</a></p>
        </div>
        {% endblock %}

{%block content%}
{%endblock%}

</body>
</html>